<div class="page-info-section set-bg" style="background-image: url(img/page-bg/1.jpg)">
  <div class="container">
    <div class="site-breadcrumb">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">Trang chủ</a>
      <span>Khóa học</span>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Search your course</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- search form -->
          <form class="course-search-form">
            <input type="text" placeholder="Course">
            <input type="text" class="last-m" placeholder="Category">
            <button class="site-btn btn-dark">Search Couse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->


<!-- course section -->
<section class="course-section spad pb-0">
  <div class="container">
    <div class="section-title mb-0">
      <h2>Khóa học hiện hành</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
  </div>
  <div class="course-warp">
    <ul class="course-filter controls">
      <li class="control active" data-filter="all">All</li>
      <li class="control" data-filter=".finance">Tiếng Anh Giao Tiếp</li>
      <li class="control" data-filter=".design">Tiếng Anh Doanh Nghiệp</li>
      <li class="control" data-filter=".web">TIếng ANh Tương Tác</li>
      <li class="control" data-filter=".photo">Luyện Thi</li>
    </ul>

    <div class="row course-items-area">
      <ng-container *ngFor="let pd of courseService.list">
        <div class="mix col-lg-3 col-md-4 col-sm-6 finance" >
          <div class="course-item">
            <div class="course-thumb set-bg" style="background-image: url(img/courses/1.jpg)">
              <div class="price">Price: $15</div>
            </div>
            <div class="course-info">
              <div class="course-text">
                <h5>{{pd.Ten}}</h5>
                <p>{{pd.Review}}</p>
                <div class="students">120 Students</div>
              </div>
              <div class="course-author">
                <p>Khai giảng, <span>{{pd.Khaigiang}}</span></p>
                <p>Kết thúc, <span>{{pd.Ketthuc}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<!-- course section end -->


<!-- banner section -->
<section class="banner-section spad">
  <div class="container">
    <div class="section-title mb-0 pb-2">
      <h1>Tại sao nên học tiếng Anh và 6 kỹ năng thế kỷ 21 cùng WebUni</h1>
      <p>WebUni là một công ty hoạt động trong lĩnh vực giáo dục và đào tạo tiếng Anh chuyên cung cấp các chương trình học và dịch vụ bao gồm:</p>
        <p>Chương trình giảng dạy Anh ngữ dành cho trẻ em và người lớn</p>
        <p>Chương trình luyện thi các kỳ thi quốc tế</p>
        <p>Chương trình đào tạo giáo viên</p>
        <p>Đào tạo doanh nghiệp</p>
        <p>Trung Tâm Du Học WebUni.</p>
    </div>
    <div class="text-center pt-5">
      <a href="#" class="site-btn">Đăng ký ngay</a>
    </div>
  </div>
</section>
<!-- banner section end -->
