<section class="hero-section set-bg">
  <div class="container">
    <div class="hero-text text-white">
      <h2>Học vui, Nhìn xa, Nghĩ lớn</h2>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <form class="intro-newslatter">
          <input type="text" placeholder="Số điện thoại">
          <input type="text" class="last-s" placeholder="E-mail">
          <button class="site-btn">Đăng ký ngay</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- categories section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Các Khóa Học</h2>
      <p>Bất kể ước mơ của bạn cho con là gì, hãy để chúng tôi giúp con bạn trở thành thế hệ Việt Nam ưu việt

      </p>
    </div>
    <div class="row">
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" style="background-image: url(img/categories/1.jpg)"></div>
          <div class="ci-text">
            <h5>Khóa IELTS, TOFEL IBT</h5>
            <p>Trên 13 tuổi</p>
            <span>10 Khóa học</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" style="background-image: url(img/categories/2.jpg)"></div>
          <div class="ci-text">
            <h5>Tiếng Anh Mẫu Giáo</h5>
            <p>3-6 tuổi</p>
            <span>10 Khóa học</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" style="background-image: url(img/categories/3.jpg)"></div>
          <div class="ci-text">
            <h5>Tiếng Anh Thiếu Nhi</h5>
            <p>6-10 tuổi</p>
            <span>10 Khóa học</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" style="background-image: url(img/categories/4.jpg)"></div>
          <div class="ci-text">
            <h5>Tiếng Anh Thiếu Niên</h5>
            <p>10-14 tuổi</p>
            <span>10 Khóa học</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" style="background-image: url(img/categories/5.jpg)"></div>
          <div class="ci-text">
            <h5>Tiếng Anh Người Lớn</h5>
            <p>Trên 14 tuổi</p>
            <span>10 Khóa học</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" style="background-image: url(img/categories/6.jpg)"></div>
          <div class="ci-text">
            <h5>Tiếng Anh Giao Tiếp</h5>
            <p>Trên 17 tuổi</p>
            <span>10 Khóa học</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- categories section end -->
